<!DOCTYPE html>
<html>
    <head>
        <title>CRUD-PRO</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div id="login-form-wrap">
            <h2>Login</h2>
            <form id="login-form" method="POST" action="">
                <% if(locals.error) { %>
                    <div><%= error %></div>
                <% } %>
                <% if(locals.success) { %>
                    <div><%= success %></div>
                <% } %>
                <p>
                    <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
                </p>
                <p>
                    <input type="password" id="password" name="password" placeholder="PASSWORD" required><i class="validation"><span></span><span></span></i>
                </p>
                <p>
                    <input type="submit" value="Login">
                </p>
            </form>
            <div id="create-account-wrap">
                <p>Not a member? <a href="/signup">Create Account</a><p>
            </div>
          </div>
    </body>
</html>
